.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vh;
    position: relative;
  }
  
  .card {
    /* width: 70%; */
    border: 6px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    overflow: hidden;
    
  }
  
  .card-header {
    padding: 10px;
    background-color: #270a0a;
    cursor: pointer;
    font-size: small;
  }
  
  .card-header:hover {
    background-color: #c5a7a7;
  }
  
  .card-body {
    padding: 10px;
    display: none;
    font-size: 16px;
    width: 90vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
  }
  
  .collapsed .card-body {
    display: block;
  }
  
  .card-body p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  
.validation-checkbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: large;
  }
  
  .validation-checkbox input[type="checkbox"] {
    margin-right: 5px;
  }
  